@import "~node_modules/modern-normalize/modern-normalize.css";
.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.is-hidden {
    display: none;
}
